#diskContainer {
    position: relative;
    width: 100%;
    transform: translateX(-100%);
    left: 100%;
}
#diskImage {
    width: 100%;
}
.mini1cardContainer, .mini2cardContainer, .mini3cardContainer, .mini4cardContainer, .mini5cardContainer {
    position: absolute;
    width: 408px;
    height: 612px;
    transform-origin: center;
}
.mini1cardContainer {
    top: 27.70%;
    left: 21.2%;
    transform: translate(-50%, -50%) rotate(260deg) scale(var(--card-scale));
}
.mini2cardContainer {
    top: 37.87%;
    left: 24.2%;
    transform: translate(-50%, -50%) rotate(260deg) scale(var(--card-scale));
}
.mini3cardContainer {
    top: 67%;
    left: 43%;
    transform: translate(-50%, -50%) rotate(231deg) scale(var(--card-scale));
}
.mini4cardContainer {
    top: 74.6%;
    left: 53.5%;
    transform: translate(-50%, -50%) rotate(230deg) scale(var(--card-scale));
}
.mini5cardContainer {
    top: 82.5%;
    left: 63.7%;
    transform: translate(-50%, -50%) rotate(230deg) scale(var(--card-scale));
}