#diskContainer {
    position: relative;
}
#diskImage {
    width: 100%;
}
.mini1cardContainer, .mini2cardContainer, .mini3cardContainer, .mini4cardContainer, .mini5cardContainer, .selectedcardContainer {
    position: absolute;
    width: 408px;
    height: 612px;
    transform-origin: center;
}
.selectedcardContainer {
    top: 12%;
    left: 50.2%;
    transform: translate(-50%, -50%) rotate(-15deg) scale(var(--card-scale));
    z-index: -1;
}
.mini1cardContainer {
    top: 27.70%;
    left: 21.2%;
    transform: translate(-50%, -50%) rotate(260deg) scale(var(--card-scale));
}
.mini2cardContainer {
    top: 37.87%;
    left: 24.2%;
    transform: translate(-50%, -50%) rotate(260deg) scale(var(--card-scale));
}
.mini3cardContainer {
    top: 67%;
    left: 43%;
    transform: translate(-50%, -50%) rotate(230deg) scale(var(--card-scale));
}
.mini4cardContainer {
    top: 74.8%;
    left: 52.7%;
    transform: translate(-50%, -50%) rotate(230deg) scale(var(--card-scale));
}
.mini5cardContainer {
    top: 82.7%;
    left: 63.4%;
    transform: translate(-50%, -50%) rotate(230deg) scale(var(--card-scale));
}